{% extends "base.html" %}

{% block page_title %}{{ contact_log.name }}{% endblock %}

{% block section_title %}{{ contact_log.name }}{% endblock %}

{% block head_extra %}
<script language="JavaScript">
$(document).ready(function() {
    $('#id_callsign').change(function() {
        callsign =  $('#id_callsign').val();
        if (callsign && callsign.length > 2) {
            $('#qrz_area').load('/callsign/lookup/' + document.forms.contact_form.callsign.value + '/');
        }
    });
});
</script>
<style type="text/css">
table.contact_table {
    border-left: 1px solid;
    border-top: 1px solid;
}

th.contact_table  {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 5px;
}

td.contact_table  {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 5px;
    vertical-align: top;
}

tr.odd {
    background: #CCCCCC;
}

ul.errorlist {
    list-style-type: none;
    padding-left: 0px;
    font-size: 0.75em;
}
</style>

{% endblock %}

{% block page_content %}

<form action="." method="POST" name="contact_form">
{% csrf_token %}

<table class="contact_table" cellspacing="0" cellpadding="0" width="100%">
 <tr>
  <th class="contact_table">Date</th>
  <th class="contact_table">Time</th>
  <th class="contact_table">Callsign</th>
  <th class="contact_table">Mode</th>
  <th class="contact_table">Frequency</th>
  <th class="contact_table">Band</th>
  <th class="contact_table">RST Sent</th>
  <th class="contact_table">RST Recv</th>
{% if contact_log.ruleset.is_contest %}<th class="contact_table">Contest Sent</th>
  <th class="contact_table">Contest Recv</th>{% endif %}
  <th class="contact_table"></th>
 </tr>
{% if not contacts %}<tr><td colspan="10">You have not logged any entries yet.</td></tr>{% endif %}
<tr class="{% cycle 'odd' 'even' %}">
  <td class="contact_table" colspan="2">{{ form.when }}{% if form.errors %}<br/> {{ form.errors.when }} {{ form.get_fieldless_errors }}{% endif %}</td>
  <td class="contact_table">{{ form.callsign }}{% if form.errors %}<br/> {{ form.errors.callsign }} {% endif %}
<br/>
<div id="qrz_area"></div>
</td>
  <td class="contact_table">{{ form.mode }}{% if form.errors %}<br/> {{ form.errors.mode }} {% endif %}</td>
  <td class="contact_table">{{ form.frequency }} MHz{% if form.errors %}<br/> {{ form.errors.frequency }} {% endif %}</td>
  <td class="contact_table">{{ form.band }}{% if form.errors %}<br/> {{ form.errors.band }} {% endif %}</td>
  <td class="contact_table">{{ form.rst_sent }}{% if form.errors %}<br/> {{ form.errors.rst_sent }} {% endif %}</td>
  <td class="contact_table">{{ form.rst_received }}{% if form.errors %}<br/> {{ form.errors.rst_received }} {% endif %}</td>
{% if contact_log.ruleset.is_contest %}<td class="contact_table">{{ form.contest_exchange_sent }}{% if form.errors %}<br/> {{ form.errors.contest_exchange_sent }} {% endif %}</td>
  <td class="contact_table">{{ form.contest_exchange_received }}{% if form.errors %}<br/> {{ form.errors.contest_exchange_received }} {% endif %}</td>{% endif %}
  <td class="contact_table"><input type="submit" value="Add"/></td>
 </tr>
{% for contact in contacts %}
 <tr class="{% cycle 'odd' 'even' %}">
  <td class="contact_table">{{ contact.when|date:"m/d/Y" }}</td>
  <td class="contact_table">{{ contact.when|time:"H:i" }}Z</td>
  <td class="contact_table">{{ contact.callsign|upper }}</td>
  <td class="contact_table">{{ contact.mode }}</td>
  <td class="contact_table">{{ contact.frequency }} MHz</td>
  <td class="contact_table">{{ contact.band }}</td>
  <td class="contact_table">{{ contact.rst_sent }}</td>
  <td class="contact_table">{{ contact.rst_received }}</td>
{% if contact_log.ruleset.is_contest %}  <td class="contact_table">{{ contact.contest_exchange_sent }}</td>
  <td class="contact_table">{{ contact.contest_exchange_received }}</td>{% endif %}
  <td class="contact_table"></td>
 </tr>
{% endfor %}
</table>

</form>
{% endblock %}
