{% extends "base.html" %}

{% block page_title %}{{ contact_log.name }}{% endblock %}

{% block section_title %}{{ contact_log.name }}{% endblock %}

{% block page_content %}
{% if not contacts %}<p>You have not logged any entries yet.</p>{% else %}
<form action="." method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="submit"/>
</form>

<table>
 <tr>
  <th>Date</th>
  <th>Time</th>
  <th>DE</th>
  <th>Mode</th>
  <th>Frequency</th>
  <th>Band</th>
  <th>RST Sent</th>
  <th>RST Recv</th>
 </tr>
{% for contact in contacts %}
 <tr>
  <td>{{ contact.when|date:"m/d/Y" }}</td>
  <td>{{ contact.when|time:"H:i" }}Z</td>
  <td>{{ contact.de_callsign }}</td>
  <td>{{ contact.mode }}</td>
  <td>{{ contact.frequency }} MHz</td>
  <td>{{ contact.band }}</td>
  <td>{{ contact.rst_sent }}</td>
  <td>{{ contact.rst_received }}</td>
 </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
